{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Knowledge Dashboard</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="stylesheet" href="{% static 'news/css/dashboard.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'news/favicon.ico' %}">
</head>
<body class="dark-theme">

    {% include 'news/components/mobile_menu.html' %}

    {% include 'news/components/sidebar.html' %}

    <div class="main-content">
        
        <div class="graph-background">
            <iframe src="/api/news/graph/" id="graph-frame" allowtransparency="true"></iframe>
        </div>

        {% include 'news/views/knowledge.html' %}

        {% include 'news/views/librarian.html' %}

    </div> 

    <script src="{% static 'news/js/modules/dashboard_ui.js' %}"></script>
    <script src="{% static 'news/js/modules/dashboard_data.js' %}"></script>

    <script src="{% static 'news/js/dashboard.js' %}"></script>
</body>
</html>